<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentors</title>
</head>
<style>
  body {
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  a {
    text-decoration: none;
  }
</style>
<body>
<h1 align="center">Список менторов</h1>
{% for item in data %}
<ul>
    <a href="{% url 'get_mentors_by_id' item.id %}"><li>Имя: {{ item.name }}</li></a>
    <li>Сфера: {{ item.sphere }}</li>
    <li>Опыт: {{ item.experience }}</li>
    <hr>
</ul>

{% endfor %}
<a href="/">На главную</a>

</body>
</html>