<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bids</title>
</head>
<style>
  body {
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  a {
    text-decoration: none;
  }
</style>
<body>

<h1 align="center">Заявка {{ data.id }}</h1>

<ul>
    <li>ID заявки: {{ data.id }}</li>
    <li>Название заявки: {{ data.title }}</li>
    <li>ID студента: {{ data.id_student }}</li>
    <li>ID ментора: {{ data.id_mentor }}</li>
    <li>Дата создания заявки: {{ data.date_create }}</li>
    <li>Статус заявки: {{ data.status_completed }}</li>
</ul>
<hr>
<a href="http://127.0.0.1:8000/bids/view-bids/">К заявкам</a>

</body>
</html>